$titles: (
  title1: "El mundo te espera, ¡comienza tu próxima aventura hoy!",
  title2: "Tu próxima gran historia comienza con un boleto de avión",
  title3: "Vuela alto, explora lejos, vive sin límites",
  title4: "Las mejores vistas vienen después del despegue",
);
