.footer {
  background-color: #002b5b;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer.trips {
  margin-top: 20px;
}

.footer.contact,
.footer.login {
  position: absolute;
  bottom: 0;
  width: 100%;
}
