/*320px*/

@media (min-width: 280px) and (max-width: 767px) {
  /*--ESTILOS DEL INDEX--*/
  .cards-container {
    width: 200px;
    flex-direction: column;
  }

  .testimony-card {
    flex-direction: row;
    gap: 40px;
  }

  .testimony-card.reverse {
    flex-direction: row-reverse;
  }

  .reasons-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .banner-title,
  .testimony-title {
    font-size: 20px;
    text-align: center;
  }

  .testimony-profile {
    flex-direction: column;
  }

  .reasons-container {
    gap: 20px;
  }

  .reason {
    flex-direction: row;
    width: 100%;
  }

  .reason p {
    display: none;
  }

  .reason h3 {
    font-size: 20px;
  }

  .reason article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .reason-image {
    height: 36px;
  }

  .reason-image.avion {
    height: 39px;
  }

  .footer {
    font-size: 12px;
  }

  .reason.margin {
    margin-top: 20px;
  }

  /*--ESTILOS DE LOS VIAJES--*/

  .trips-title {
    text-align: center;
  }

  .card-travels-container {
    gap: 20px;
  }
}

/*768px*/

@media (min-width: 768px) and (max-width: 1023px) {
  .reason {
    gap: 10px;
  }

  .reason-title {
    font-size: 20px;
  }

  .reason p {
    font-size: 14px;
  }

  .reason-image {
    height: 56px;
  }

  .reason-image.avion {
    height: 59px;
  }
}

@media (min-width: 1024px) {
  .reason-image {
    height: 62px;
  }

  .reason-image.avion {
    height: 69px;
  }
}
