/*320px*/

@media (min-width: 280px) and (max-width: 767px) {
  /*--ESTILOS DEL INDEX--*/
  .cards-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .testimony-card {
    flex-direction: row;
    gap: 40px;
    width: 260px;
  }

  .testimony-card.reverse {
    flex-direction: row-reverse;
  }

  .reasons-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .banner-title,
  .testimony-title {
    font-size: 20px;
    text-align: center;
  }

  .testimony-profile {
    flex-direction: column;
  }

  .reasons-container {
    gap: 20px;
  }

  .reason {
    flex-direction: row;
    width: 100%;
  }

  .reason p {
    display: none;
  }

  .reason h3 {
    font-size: 20px;
  }

  .reason article {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .reason-image {
    height: 36px;
  }

  .reason-image.avion {
    height: 39px;
  }

  .footer {
    font-size: 12px;
  }

  .reason.margin {
    margin-top: 20px;
  }

  /*--ESTILOS DE LOS VIAJES--*/

  .title-tips {
    text-align: center;
  }

  .trips-title {
    text-align: center;
  }

  .tip-title {
    text-align: center;
    width: 200px;
  }

  .tip-card {
    width: 250px;
  }

  .aside-message {
    display: none;
  }

  .form-main-container {
    justify-content: center;
  }

  .inputs-container {
    flex: 0;
    padding: 0 30px 0 30px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid #ffffff5d;
  }

  .inputs-container.contact {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .input-field.text-area {
    height: 200px;
  }

  .input-field.name {
    margin-bottom: 20px;
  }

  .form {
    p {
      width: 200px;
      text-align: center;
    }
    .input-field {
      width: 240px;
    }
  }

  .form {
    justify-self: center;
  }

  .button.login {
    width: 240px;
  }

  .button.register {
    width: 240px;
  }

  .tip-info {
    flex-direction: column;
    width: 200px;
  }
}

/*768px*/

@media (min-width: 768px) and (max-width: 1023px) {
  .reason {
    gap: 10px;
  }

  .reason-title {
    font-size: 20px;
  }

  .reason p {
    font-size: 14px;
  }

  .reason-image {
    height: 56px;
  }

  .reason-image.avion {
    height: 59px;
  }

  .banner-title.login {
    font-size: 30px;
  }

  .input-field.email {
    width: 300px;
  }

  .input-field.text-area {
    width: 300px;
  }

  .form {
    section {
      text-align: center;
      .input-field.name {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .reason-image {
    height: 62px;
  }

  .reason-image.avion {
    height: 69px;
  }

  .form {
    section {
      display: flex;
      gap: 5px;
    }
  }

  .inputs-container {
    padding: 20px;
  }
}
