.input-field {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid #ffffff5d;
  background-color: transparent;
  color: white;
}
.input-field::placeholder {
  color: white;
}

.input-field.email {
  width: 600px;
}

.input-field.text-area {
  width: 600px;
  height: 200px;
  padding-top: 20px;
  resize: none;
}
