.testimony-title {
  font-size: 30px;
  color: #002b5b;
  margin-bottom: 20px;
  font-weight: 400;
}

.reason-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.trips-title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #002b5b;
}

.title-tips {
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #002b5b;
}

.title-contact {
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #002b5b;
}

.banner-title.home::after {
  content: map-get($titles, title1);
  opacity: 1;
  animation: text-change 4s infinite;
}

@keyframes text-change {
  0% {
    content: map-get($titles, title1);
  }
  33% {
    content: map-get($titles, title2);
  }
  66% {
    content: map-get($titles, title3);
  }
  100% {
    content: map-get($titles, title4);
  }
}

.title-login {
  color: white;
}
