.testimony-title {
  font-size: 30px;
  color: #002b5b;
  margin-bottom: 20px;
  font-weight: 400;
}

.reason-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.trips-title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #002b5b;
}
